.chatHeader {
  color: #fff;
  margin: auto;
  text-align: center;
  height: 100px;
}

.btnSwitchTheme {
  display: inline-block;
  height: 26px;
  /* margin: 1px auto 0; */
  position: relative;
  width: 50px;
}

.btnSwitchTheme input {
  height: 0;
  opacity: 0;
  width: 0;
}

.slider {
  background-color: rgb(231, 222, 222);
  border-radius: 34px;
  bottom: 0;
  cursor: pointer;
  left: 0;
  opacity: 0.8;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.5s;
}

.slider:before {
  background-color: rgb(204, 83, 83);
  border-radius: 50%;
  bottom: 4px;
  content: '';
  height: 20px;
  left: 4px;
  position: absolute;
  transition: 0.5s;
  width: 20px;
}

input:checked + .slider {
  background-color: #393e46;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #fff;
}
  
input:checked + .slider:before {
  transform: translateX(25px);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menuTrigger img {
  border-radius: 100%;
  box-shadow: 5px 10px 18px #020202;
  cursor: pointer;
  height: 40px;
  left: -450px;
  overflow: hidden;
  position: relative;
  top: -60px;
  width: 40px;

}

.dropdownMenu {
  background-color: #f7eded;
  border-radius: 8px;
  color: #555;
  padding: 10px 20px;
  position: relative;
  right: 360px;
  top: -50px;
  width: 200px;
}

.dropdownMenu::before {
  background: #f7eded;
  content: '';
  height: 20px;
  left: 10px;
  position: absolute;
  top: -5px;
  transform: rotate(45deg);
  width: 20px;
}

.active {
  opacity: 1;
  transform: translateY(0);
  transition: 500ms ease;
  visibility: visible;
}

.inactive {
  opacity: 0;
  transform: translateY(-20px);
  transition: 500ms ease;
  visibility: hidden;
}

h3 {
  color:#555;
  font-size: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2rem;
  text-align: center;
  width: 100%;
}

.dropdownMenu ul li {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 0;
}

.dropdownMenu ul li:hover a {
  color: rgb(212, 33, 9);
  cursor: pointer;
}

.dropdownMenu ul li:hover img {
  cursor: pointer;
  opacity: 1;
}

.dropdownItem {
  display: flex;
  margin: 1px auto;
}

.dropdownItem img {
  margin-right: 10px;
  max-width: 25px;
  opacity: 0.5;
  transition: 500ms;
}

.dropdownItem a {
  margin-left: 10px;
  max-width: 100px;
  transition: 500ms;
}
